
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playwrite+DE+Grund:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}
html[lang="ar"] {
    /* Styles specifically for Arabic translations */
    font-family: sans-serif !important;
}
  
html{
    scroll-behavior: smooth;

}
::-webkit-scrollbar{
    display: none;
}
body{
    position: relative;
    height: max-content;
    width: 100%;
    background:#001219;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}
#message{
    position: fixed;
    width: max-content;
    height: max-content;
    padding: 10px 20px;
    border-radius: 10px;
    height: max-content;
    transition: transform .5s ease-in-out;
    top: 0;
    transform: translateX(-50%) translateY(-200px);
    font-size: 18px;
    left: 50%;
    z-index: 10;
    font-weight: 600;
}
.nav-bar{
    width: 90%;
    height: max-content;
    position: fixed;
    background-color: white;
    border-radius: 100px;
    display: grid;
    grid-template-columns: 33% auto 33% ;
    justify-content: space-around;
    align-items: center;
    left: 5%;
    top: 30px;
    z-index: 5;
}
.indexs{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.indexs a{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration: none;
    font-weight: 300;
    margin: 0 30px;
    transition: all .2s ease-out;
    position: relative;
    transform-origin: center;
}     
.indexs a:hover{
    font-weight: 500;
}
.logo{
    height: 70px;
    aspect-ratio: 2/1;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 150%;
    aspect-ratio: 1/1;
    position: relative;
}
.menu{
    width: max-content;
    height: max-content;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0 20px 20px 0;
    position: fixed;
    z-index: 5;
    transition: all .2s linear;
    bottom: 0%;
}
.menu .indexs{
    width: 0;
    overflow: hidden;
    transition: all .2s linear;
    display: flex;
    justify-content: space-evenly;
    font-size: 11px;
}
.menu i{
    padding: 0 10px;
    font-size: 25px;
    cursor: pointer;
    transition: all .2s linear;
    height: 100%;
    position: relative;
}
.menu:hover{
    background-color: rgb(206, 206, 206);
}
.menu:hover .indexs{
    width: 10px;
}












.user-front{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    perspective: 1000px;
    transform-style: preserve-3d;
    overflow: hidden;
    position: sticky;
    padding-bottom: 30vh;
}
.user-front h1{
    text-shadow:
    4px 4px 10px gold,   /* bottom-right */
    -4px 4px 10px gold,  /* bottom-left */
    4px -4px 10px gold,  /* top-right */
    -4px -4px 10px gold; /* top-left */
    letter-spacing: 10px;
    color:#001219;
    z-index: 2;
    cursor: default ;
    pointer-events: none;
    opacity: 0;
    animation: scan .3s 1s linear forwards;
    transform: translateY(200px);
    color: rgba(255, 255, 255, 0.5);

    font-family:Verdana, Geneva, Tahoma, sans-serif;   
    font-weight: 900;

}
.user-front .elements{
    width: 250px;
    aspect-ratio: 2/3;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    transform: translateZ(-1px);
    animation: .6s .5s ease-in forwards;
    background-image: url(logo.png);
    background-position: center;
    background-size: cover;
    transition: all .6s linear;
}
@keyframes e1{
    100%{
        transform: translate(600px,0) translateZ(-20px) rotateY(-30deg);
    }
}
@keyframes e2{
    100%{
        transform: translate(320px,0) translateZ(-150px) rotateY(-15deg);
    }
}
@keyframes e3{
    100%{
        transform: translate(0px,0) translateZ(-190px) rotateY(0deg);
    }
}
@keyframes e4{
    100%{
        transform: translate(-320px,0) translateZ(-150px) rotateY(15deg);
    }
}
@keyframes e5{
    100%{
        transform: translate(-600px,0) translateZ(-20px) rotateY(30deg);
    }
}
@keyframes scan{
    to{
        opacity: 1;
    }
}
.more{
    position: relative;
    background-image: linear-gradient(to bottom,#001219,rgb(2, 0, 23));
    width: 100%;
    height: max-content;
    transition: all .2s linear;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;

}   
.more .info1{
    width: 80%;
    background-color: #003946;
    aspect-ratio: 1/.4;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 50% 50%;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    color: white;
    transform: translateY(200px);
    opacity: 0;
    transition: all .5s linear;
    margin-bottom: 150px;
}
.more .info1 .pic{
    position: relative;
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to top,rgba(255, 255, 255, 0),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(255, 255, 255, 0));
    display: grid;
    justify-content:space-evenly;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 40px;
}
.more .info1 .info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 25px;
    width: 100%;
    height: 100%;
    cursor: default;
}
.more .info1 .info span{
    position: absolute;
    overflow: hidden;
    padding: 30px 150px;
    transform:translateY(-15%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}
.more .info1 .info h2{
    display: inline;
}
.more .info1 .info span .p1{
    position: absolute;
    
}
.more .info1 .info span .p2{
    position: absolute;

}
.more .info1 .info span p{
    color: #9b2226;
    font-weight: 800;
    font-size: 40px;
    display: inline;
    animation: flipp 1s linear infinite;
    transition: all .1s ease-in-out ;
    top: -100px;
}
.more .info1 .info span:hover p{
    animation-play-state: paused;
}
    @keyframes flipp{
        to{
            top: 100px;
        }
    }
.pic .lineone,.pic .linetwo,.pic .linethree{
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: contain;
    justify-content: center;
    align-items: center;
}
.pic .lineone div,.pic .linethree div{
    position: absolute;
    width: 170px;
    aspect-ratio: 1/1.5;
    background-color: blue;
    border-radius: 10px;
    transition: all .3s ease-out;
    bottom: 120%;
    animation: hbt 60s linear infinite;
    background-position: center;
    background-size: cover;
}
@keyframes hbt{
    to{
        bottom: -150%;
    }
}
.pic .linetwo div{
    position: absolute;
    width: 170px;
    aspect-ratio: 1/1.5;
    background-color: blue;
    border-radius: 10px;
    transition: all .3s ease-out;
    bottom: -120%;
    animation: tl3 60s linear infinite;
    background-position: center;
    background-size: cover;
}
@keyframes tl3{
    to{
        bottom: 150%;
    }
}

.gridbox{
    display: flex;
    position: relative;
    width: 85%;
    height:max-content;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transform: translateY(200px);
    transition: all .5s linear;
    overflow: hidden;
}
.gridbox >.right{
    position: relative;
    width: 40%;
    height: 500px;
    color: white;
    background-image: url(logo.png);
    background-position: top;
    background-size: cover;
    border-radius: 10px;
    transition: all .5s linear;
    opacity:  0;
    transform: translateY(100px);
}
.right a{
    background-color: transparent;
    outline: none;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50px 0 50px 0;
    position: relative;
    top: 88%;
    left: 30%;
    padding: 15px 26px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: all .2s linear;
    font-weight: 200;
}
.right a:hover{
    background-color: white;
    color: black;
    border-radius:0 50px 0 50px;
    font-weight: 500;
}
.gridbox >.left{
    position: relative;
    width: 60%;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 1%;
    color: white;
    pointer-events: none;
}
.gridbox >.left div{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    text-transform: uppercase;
}
.gridbox >.left .qoulity{
    width: 202%;
    transition: all .5s linear;
    transform: translateY(100px);
    opacity: 0;
}
.gridbox >.left div i{
    position: relative;
    opacity: .3;
    font-size: 300px;
    rotate: 30deg;
}
.gridbox >.left div span{
    position: absolute;
    font-weight: 700;
}
.exmpel{
    width: 100%;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    gap: 5%;
}
.exmpel .pic{
    background-image: url(image/messiborder.png);
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 100%;
}
.exmpel .text{
    width: 50%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    font-size: 17px;
}
.sendemail{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    
}
.sendemail form{
    width: 30%;
    height: max-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sendemail input{
    outline: none;
    border: none;
    background-color: white;
    position: relative;
}
.sendemail input[type = 'email']{
    padding: 10px 20px;
    width: 100%;
    height: 30px;
    border-radius: 50px;
}
.sendemail input[type = 'submit']{
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1/1;
    background-color: #428f71;
    left: 90%;
    /* transform: translateX(-110%); */
    color: white;
    transition: all .2s linear;
    position: absolute;
}
.sendemail input[type = 'submit']:hover{
    background-color: #001219;
}
.sendemail label{
    color: white;
}





/* store */







.contenaire{
    margin: auto;
    width: 98%;
    height: max-content;
    margin-top: 120px;
    position: relative;
}
.contenaire .decor{
    width: 100%;
    height: 500px;
    background-color: #428f71;
    position: relative;
    border-radius:20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    font-family:cursive;
}
.loader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 50%;
    right: 1.3%;
    transform: translate(0%,-50%);
    background-color: #001219;
    border: 30px solid #001219;
    border-radius: 20px;
    height: 80%;
  }
  
  .box-1,
  .box-2,
  .box-3 {
    width: 1px;
    height: 100%;
    border: 1px solid black;
    background-color: transparent;
    box-sizing: border-box;
  }
  
  .box-1 {
    animation: box1animation 7s forwards ease-in-out infinite;
    background-image: url(image/back1.jpg);
    background-position: center;
    background-size:cover;
  }
  
  @keyframes box1animation {
    0% {
      width: 1px;
    }
  
    16.7% {
      width: 700px;
    }
  
    33.3% {
      width: 700px;
    }
  
    50% {
      width: 1px;
    }
  
    100% {
      width: 1px;
    }
  }
  
  .box-2 {
    animation: box2animation 7s forwards ease-in-out infinite;
    background-image: url(image/lofi.jpg);
    background-position: center;
    background-size:cover;
  }
  
  @keyframes box2animation {
    0% {
      width: 1px;
    }
  
    33.3% {
      width: 1px;
    }
  
    50% {
      width: 700px;
    }
  
    66.6% {
      width: 700px;
    }
  
    83.3% {
      width: 1px;
    }
  
    100% {
      width: 1px;
    }
  }
  
  .box-3 {
    animation: box3animation 7s forwards ease-in-out infinite;
    background-image: url(image/back3.jpg);
    background-position: center;
    background-size:cover;
  }
  
  @keyframes box3animation {
    0% {
      width: 700px;
    }
  
    16.7% {
      width: 1px;
    }
  
    66.6% {
      width: 1px;
    }
  
    83.3% {
      width: 700px;
    }
  
    100% {
      width: 700px;
    }
  }
  
.decor h1{
    font-weight: 900;
    font-size: 30px;
    padding: 10px 20px;
}
.decor span{
    padding: 10px 40px;
}





.holder{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    height: max-content;
    flex-direction: column;
    
}
.holder form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    position: sticky;
    top: 110px;
    z-index: 5;
    margin-bottom: 150px;
}
.holder form input{
    background-color: white;
    padding: 20px 20px;
    border-radius: 50px;
    outline: none;
    width: 100%;
    border: none;
}
.holder form .bx-search-alt-2{
    height: 90%;
    aspect-ratio: 1/1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1%;
    border-radius: 50%;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 25px;
    transition: all .2s linear;
}
.holder form i:hover{
    background-color: rgb(189, 189, 189);
    color: black;
}


.products {
    width: 90%;
    height: max-content;
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(10px, 250px));
    gap: 20px;
    justify-content: center;
    overflow-x: hidden;
    padding-top: 60px;
    cursor: pointer;
    margin-top: 100px;
}
.products .product {
    width: 100%;
    aspect-ratio: 1/1.5;
    background-color: rgb(255, 255, 255);
    position: relative; /* Ensure this is relative for absolute positioning */
    overflow: visible;  /* Ensure ::before can be positioned outside of the product */
    margin-bottom: 70px;
    border-radius: 0 10px 10px 10px;
    padding: 10px 0;
    opacity: 0;
    transform: translateY(300px);
    transition: all .5s linear;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.product:hover{
    background-color: #000000;
}
.products .product::after {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 15%;
    position: absolute;
    content: 'ANIME';
    top: -15%; 
    left: 0;   
    z-index: 5; 
    border-radius: 10px 0px 10px  0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}
.products .product::before {
    background-color:transparent;
    width: 51%;
    height: 15%;
    position: absolute;
    content: '';
    top: -15%; 
    right: 0;   
    z-index: 1; 
    border-bottom-left-radius: 30px;
    box-shadow: -30px 0px 0 rgb(255, 255, 255);
}
.products .product .image{
    position: relative;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-image: url(image/naruto.jpg);
    transform: translateY(-20px);
}
.products .product .title{
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 27px;
    font-weight: 700;
    left: 5%;
    transform: translateY(-10px);
}
.products .product:hover .title{
    color: rgb(255, 255, 255);
}
.bx-cart{
    height: 50px;
    aspect-ratio: 1/1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3%;
    border-radius: 50%;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 25px;
    transition: all .2s linear;
    font-size: 30px ;
    z-index: 7;
    right: 3%;
    border: 4px solid gold;
}
.bx-cart:hover{
    background-color: white;
}
.checkpro{
    width: 40%;
    height: 350px;
    padding: 10px 10px 10px 20px;
    bottom: 5%;
    right: 5%;
    position: fixed;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 400px;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    transition: all .5s linear;
    background-color: white;
    z-index: 6;
}
.checkpro .product{
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    height: max-content;
    justify-content: space-between;
    align-items: center;
    transition: all .2s linear;
    border: 1px solid black;
}
.checkpro .product .image{
    background-position: center;
    background-size: cover;
    height:70px;
    width: 50px;
    background-color: green;
    border-radius: 5px;
}
.checkpro .product:hover{
    background-color: rgb(198, 198, 198);
}
.bx-cart #num{
    position: absolute;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
    width: 20px;
    aspect-ratio: 1/1;
    transform: translate(20px,-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 4px solid gold;
    border-left: none;
    border-bottom: none;
}
.checkpro input{
    outline: none;
    border: 2px solid black;
    border-top:none  ;
    position: sticky;
    top: 0px;
    background-color: white;
    padding: 20px 10px;
    border-radius:0 0 20px 20px;
    z-index: 2;
    cursor: pointer;
    transition: all .2s linear;
    transform: translateY(-10px);
}
.checkpro input:hover{
    background-color: rgb(198, 198, 198);
}



/* onproduct */




.myframe{
    width: 85%;
    padding: 0 20px;
    aspect-ratio: 1/.45;
    border-radius: 20px;
    background-color: #428f71;
    margin: auto;
    margin-top: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    position: relative;
}
.myframe .theprPoduct-image{
    position: relative;
    height: 95%;
    width: 30%;
    border-radius: 20px;
    background-image: url(image/ronaldo1.jpg);
    background-position: center;
    background-size: cover;
}
.myframe .diteals{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 0 20px;
    height: 95%;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
}
.myframe .diteals .title{
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}
.myframe .diteals form{
    position: relative;
    left: 50px;
    width: 80%;
}
.myframe .diteals form label{
    font-size: 22px;
    font-weight: 800;
    display: block;
}
.myframe .diteals form span{
    position: relative;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    left: 30%;
    transition: all .2s linear;
    top: -20px;
}
.myframe .diteals form span:hover{
    background-color: black;
    color: white;
}
.myframe .diteals form span:active{
    background-color: black;
    color: white;
    border-color: white;
}
.myframe .diteals button{
    position: relative;
    width: 40%;
    height: max-content;
    padding: 15px 0;
    outline: none;
    border: 2px solid black;
    border-radius: 40px 0 40px 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    color: white;
    transition: all .2s linear;
    overflow: hidden;
    color: black;
}
.myframe .diteals button:hover{
    background-color: black;
    color: white;
    border-radius:0 40px 0 40px ;
}
.myframe .diteals button:hover i{
    transform: translateX(20px);
}
.myframe .diteals button.add{
    background-color: #00d0ff;
    border-color: transparent;
    color: black;
    border-radius:0 40px 0 40px ;
}
.myframe .diteals button.add:hover{
    background-color: black;
    color: white;
    border-radius: 40px 0 40px 0;
}
.myframe .diteals button i{
    position: absolute;
    font-size: 25px;
    transform: translateX(200px);
    transition: all .2s linear;
}
.holder .products .explor{
    position: absolute;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}
.bxs-trash-alt{
    font-size: 20px;
    padding: 19px;
    border-radius: 15px;
    transition: all .2s linear;
}
.bxs-trash-alt:hover{
    background-color: rgba(255, 255, 255, 0.5);
}







/* checkout */





.checktitle{
    color: white;
    margin-top: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

.parent{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: auto 60%;
    padding-bottom: 60px;
}
.parent .information{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.parent .information form{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.parent .information form input{
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid white;
    transition: all .3s linear;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    color: white;
    font-size: 17px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.parent .information form input::placeholder{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}
.parent .information form input:hover{
    border-left: 4px solid white;
    border-right: 4px solid white;
}
.parent .checkpro{
    width: 90%;
    height: max-content;
    padding: 0;
    right: 0;
    bottom: 0;
    position: relative;
    border-radius:20px;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    max-height: 600px;
    overflow: auto;
    opacity: 1;
    transition: all .5s linear;
    background-color: white;
    z-index: 2;
    margin-top:110px;
    padding:10px;

    background-color: #428f71;
    pointer-events: all;
}
.parent .checkpro .product{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parent .checkpro::-webkit-scrollbar{
    display: block;
    background-color: transparent;
    width: 5px;
    position: relative;
    transform: translateX(-10px);
}
.parent .checkpro::-webkit-scrollbar-thumb{
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.parent .information form button{
    background-color: #001219;
    outline: none;
    border: none;
    position: relative;
    padding:10px 5px;
    width: 30%;
    border-radius: 40px 0 40px 0;
    font-size: 25px;
    font-weight: 600;
    transition: all .2s linear;
    border: 5px solid white ;
    color: white;
    
}
.parent .information form button:hover{
    background-color: white;
    border: 5px solid transparent ;
    color: black;
}
.total{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: max-content;
    padding: 15px 0;
    background-color: #428f71;
    font-size: 22px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
.total::before{
    content: 'Total : ';
    position: relative;
    padding-right: 5px;
    font-weight: 700;
}




/* contact */



.contact{
    width: 90%;
    height: 80vh;
    margin: auto;
    margin-top: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.contact input{
    width: 55%;
    position: relative;
    background-color: transparent;
    outline: none;
    padding: 10px 20px;
    border: 3px solid white;
    border-radius: 40px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all .2s linear;
    font-weight: 500;
    color: white;
}
.contact input:hover{
    border-color:#003946;
    padding: 10px 25px;
}
.contact input[placeholder='Message']{
    height: 150px;
}
.contact input::placeholder{
    color: white;
    opacity: .5;
}
.contact button{
    background-color: transparent;
    border-radius: 50px 0 50px 0;
    width: 50%;
    height: max-content;
    padding: 15px 20px;
    outline: none;
    border: 3px solid white;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s linear;
    font-weight: 700;
}
.contact button:hover{
    background-color:#428f71;
    border-color: #428f71;

}



.icons{
    display: none;
    position: absolute;
    bottom: 5%;
    right: 3%;
}
.icons a{
    font-size: 30px;
    padding: 10px 10px;
}